[flake8]
select = B,B9,BLK,C,E,F,I,S,W
ignore = E203,E501,W503,S404,S603,S311,S607
max-line-length = 80
application-import-names = ttt,tests
import-order-style = google
per-file-ignores = tests/*:S101
